* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgba(50,160,189, 0.3);
  background: #f2f2f2;
}
.master-wrapper {
  width: 900px;
  margin: 0 auto;
  background-image: none;
  padding: 2%;
}
.retrolook {
  filter: grayscale(1);
  background-image: url(./assets/retrobg.jpg);
}
.logo-container {
  margin: 60px 0 30px 0;
  display: flex;
  justify-content: space-between;
}
.logo-container img {
  height: 74px;
}
.logo-container img:hover {
  cursor: pointer;
}
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-container h4 {
  font-weight: 400;
}
.stations-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.searchBar {
  height: 30px;
  width: 200px;
}
.radiohead-logo {
  padding-left: 64px;
}


/* TABLET & MOBILE */

@media (max-width: 900px) {
  .master-wrapper {
    width: 500px;
    margin: 0 auto;
    background-image: none;
    padding: 2%;
  }
  .logo-container img{
    height: auto;
    width: 100%;
  }
  .radiohead-logo {
    display: none;
  }
  .oldradio {
    display: none;
  }
  .retrolook {
    filter: none;
  }
}
