* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background: pink; */
}
.master-wrapper {
  width: 900px;
  margin: 0 auto;
  background: lightgrey;
}
.nrStations-listed {
  width: 100%;
}
.stations-container {
  display: flex;
  flex-flow: row wrap;
}
header h1 {
  text-align: center;
  padding: 40px 0;
}
