* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.master-wrapper {
  width: 900px;
  margin: 0 auto;
  background: lightgrey;
}
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nrStations-listed {
}

.stations-container {
  display: flex;
  flex-flow: row wrap;
}
header h1 {
  text-align: center;
  padding: 40px 0;
}
.searchBar {
  height: 30px;
  width: 200px;
}
