.station-wrapper {
  /* border: 1px solid #272727; */
  margin: 0 0 2% 0;
  display: flex;
  flex-wrap: wrap;
  width: 49%;
  justify-content: space-between;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.station-image-container {
  height: 150px;
  padding: 5px;
  width: auto;
}
.station-image {
  height: 100%;
  width: auto;
  object-fit: cover;
}
.station-content-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.station-description-container {
  width: 100%;
  color: #FFF;
  padding: 10px 17px;
}

@media (max-width: 900px) {
  .station-wrapper {
    width: 100%;
  }
}
